@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #ffffff;
}

nav{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    background: #fff;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}

.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 14px;
    text-transform: uppercase;
}

a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}

.fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.fa-solid{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}

.nav p{
    margin-left: 90px;
    height: 20px;
    width: 80px;
}

.nav a:hover{
    background: #eee;
}
nav:hover{
    width: 280px;
    transition: all 0.5s ease;
}

.logout{
    position: absolute;
    bottom: 0;
}

nav:hover~.main-cont{
    margin-left: 350px;
    width: calc(100%-250px) ;
    transition: all 0.5s ease;
}

.main-cont{
    margin-left: 150px;
    margin-top: 25px;
}

.heder{
    display: flex;
    justify-content: space-between;
}

.profill{
    display: flex;
    margin-right: 40px;

}
.profill img{
    width: 30px;
    height: 30px;
    margin: 0 5px;
}
.profill p{
    font-size: 20px;
    color: #836BE7;
}
.tombol{
    width: 1090px;
    height: 60px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    border-bottom: solid;
    border-color: rgba(28, 29, 34, 0.2);
}
.tambah{
    display: inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fbe492;
    float: right;
    text-align: justify;
    align-items: center;
    margin-top: 15px;
}
.tambah:hover{
    background-color: #F9DB6D;
}

.tambah p{
    font-size: 25px;
    margin-left: 1.5px;
}
.level{
    display: inline-block;
}
.deadline p{
    text-align: center;
    margin-top: 7px;
}
.levels p{
    text-align: center;
}
.deadline{
    height: 40px;
    width: 150px;
    display: inline-block;
    align-items: center;
}
.levels{
    display: inline-flex;
    height: 40px;
}
.deadline a{
    width: 150px;
    height: 55px;
    border-radius: 30% 30% 0 0;
    background-color: #F9DB6D;
}

.levels a{
    width: 100px;
    height: 30px;
    border-radius: 30% 30% 0 0;
    background-color: #fbeebb;
}
.levels a:hover{
    width: 120px;
    height: 30px;
    border-radius: 30% 30% 0 0;
    background-color: #fbecad;
    transition: all 0.2s ease;
}

.atas{
    display: flex;
    width: 365px;
    height: 40px;
    margin-bottom: 20px;
    border-color: rgba(28, 29, 34, 0.2);
}

.isi{
    margin-top: 20px;
    width: 1090px;
    border: 1px solid;
    border-radius: 10px;
}

.isi2{
    display: inline-flex;
    height: 100%;
    width: 1080px;
}
.isi2 p{
    margin-top: 10px;
    margin: auto;
}

.isi2 input{
    width: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

.isi3{
    display: inline-flex;
    height: 100%;
    width: 1080px;
    border-bottom: 2px solid;
    border-color: rgba(28, 29, 34, 0.2);
}
.isi3 p{
    margin-top: 10px;
    margin: auto;
}

.isi3 input{
    width: 20px;
    margin-left: 20px;
}

.edit{
    margin: auto;
    opacity: 70%;
    width: 30px;
}

.warna{
    margin-top: -7px;
}

.namatask{
    margin: auto;
    width: 400px;
}

.tanggal{
    margin: auto;
    padding: 0 5px;
    color: #EE1D52;
    background-color: rgba(238, 29, 82, 0.1);
    border-radius: 10px;
    letter-spacing: 1.5px;
}
.jam{
    margin: auto;
    opacity: 70%;
    letter-spacing: 1.5px;
}

.isi2 input:checked ~ .isi3 .namatask{
    text-decoration: line-through;
}
.heder a{
    margin-right: -130px;
    margin-top: -10px;
}